# Use this file to configure the BTP setup. Rename this file to terraform.tfvars and fill in the values for the variables.
globalaccount            = "subdomain-of-SAP-BTP-globalaccount"
btp_username             = "email-associated-with-s-user-id@your-company.com"
integration_provisioners = ["email-associated-with-s-user-id@your-company.com"]
cf_org_admins            = []
cf_org_users             = []
cf_space_developers      = ["email-associated-with-s-user-id@your-company.com"]
cf_space_managers        = ["email-associated-with-s-user-id@your-company.com"]
cf_org_name              = "sap_is_test_cf"
# Available trial regions: ap21, us10
region           = "ap21"
s4_connection_pw = ""
